body {
    width: 200px;
    margin: 0;
    padding: 10px 0 10px 0;
}

h2.captain, footer {
    text-align: center;
    font-weight: normal;
}

footer {
    font-size: 12px;
    margin-top: 5px;
    background-color: #f0f0f0;
}

.back {
    position: absolute;
    top: 10px;
    font-size: 14px;
}

.back .icon {
    width: 20px;
}

.back .icon:hover path {
    fill: #3079ed;
}

div.content {
    margin: 20px auto 5px auto;
    width: 87%;
    display: none;
}

.form {
    flex-grow: 4;
}

.id-input {
    width: 97%;
    padding: 5px;
    font-size: 14px;
    border: none;
}

.generate {
    flex-grow: 1;
    padding: 5px;
}

.btn {
    display: block;
    font-size: 12px;
    margin: 0 auto;
    width: 87%;
    padding: 5px;
    margin: 5px auto;
}

.matching, .generate {
    border: 1px solid #3079ed;
    color: #fff;
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
}

.help {
    display: inline-block;
    width: 90%;;
    color: #3079ed;
    font-size: 12px;
    text-align: right;
    text-decoration: none;
}